<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      <img src="../../assets/algai.png">
      <span>
          Alg.AI
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div class="title">
  About Us
</div>
<div class="body">
  Alg.AI allows the public to be more aware of and better prepared for possible harmful algae bloom outbreaks. Our focus is on the western basin of Lake Erie, which is at greater risk for these outbreaks due to the nature of the lake. Alg.AI is a prediction tool which allows users to access accurate, long term predictions for the severity of blue-green algae blooms in various areas.
<br>
<br>
  Alg.AI uses a state of the art machine learning algorithm to get results far ahead of time so that you can plan ahead for your recreation, business, or other needs.

</div>
<div class="disclaimer">
  Disclaimer<br>
  Under no circumstances, including, but not limited to, negligence, gross negligence
  shall Brine Solutions &copy; and each of its respective directors, officers, employees, 
  consultants and agents be liable for any damages or losses that result from the use of, 
  or the inability to use any content on this web site or related services.</div>
</ion-content>

<ion-footer>
    &copy; BRINE Solutions 2019
    </ion-footer>