// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-icon{
    font-size:32px;
}

ion-title{
    font-weight:bold;
    text-align: center;
    position: absolute;
    width: 100%;
    height:100%;
    left: 0;
    top: 0;
    span{
        vertical-align:middle;
    }
    img{
        width:30px;
        vertical-align:middle;
    }
}