<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
        <img src="../../assets/algai.png">
        <span>
            Alg.AI
        </span>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="location">
      <div class="text">
        Choose a location
      </div>
      <div class="map-container">
        <div id="map_canvas"></div> 
      </div>
    </div>
    <div *ngIf="selectedMarker" class="data">
      <div class="locationTitle">
          {{locationTitle}}
        </div>
        <div class="day">
          {{day}}
        </div>
        <div class="riskCategory">
          {{riskCategory}}
        </div>
        <div class="riskValue">
          {{riskValue}}
        </div>
        <ion-range  #rangeElement min="1" max="14" color="primary" snaps="true" (ionChange)="onChangeSlider($event)"></ion-range>
    </div>




</ion-content>
